{% extends 'adminTemplate.html.twig' %}

{% block body %}

        <a id="dashboard" class="btn btn-outline-secondary" href="{{path('admin')}}" role="button">Dashboard</a>

        <h4>Details job:</h4>
            <p>Titre : <strong>{{ job.title }}</strong></p>
            <p>Contact : {{ job.contact }}</p>
            <p>Description : </p>
            <p>{{ job.description }}</p>
            <p>Logo :<img class="logo" src="{{ asset('/uploads/logo/' ~ job.logo)  | imagine_filter('thumb')}}" alt="logo_entreprise"/></p>
            <p>Validité : {{ job.validity}} mois</p>
            <p>Crée le : {{ job.createdAT|date("m/d/Y") }}</p>       
           
    <a class="btn btn-outline-info"  href="{{path('editJob',{id:job.id}) }}" role="button">Modifier</a>
    <a class="btn btn-outline-danger" href="{{path('userDelete',{id:job.id}) }}" role="button">Supprimer</a>

    

{% endblock %}