{% extends 'adminTemplate.html.twig' %}
{% block javascripts %}
    <script>
        $(function(){
            $('#listjob').DataTable();

        ///rename results
        var content=$('#listjob_length > label').html();
        content=content.replace(/show/i, 'Affiche');
        content=content.replace(/entries/, 'résulats');
        $('#listjob_length > label').html(content);

        //rename search
        content=$('#listjob_filter > label').html();
        content=content.replace(/search/i, 'Cherche');
        $('#listjob_filter > label').html(content);

         //rename showing
        content=$('#listjob_info').html();
        content=content.replace(/showing/i, 'Affiche');
        content=content.replace(/to/, 'à');
        content=content.replace(/of/, 'de');
        content=content.replace(/entries/, 'résultats');
        $('#listjob_info').html(content);

        //rename previous
        content=$('#listjob_previous').html();
        content=content.replace(/previous/i, 'Précédent');
        $('#listjob_previous').html(content);

        //rename next
        content=$('#listjob_next').html();
        content=content.replace(/next/i, 'Suivant');
        $('#listjob_next').html(content);

        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link  rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock %}
{% block body %}
    
    <a id="dashboard" class="btn btn-outline-secondary" href="{{path('admin')}}" role="button">Dashboard</a>
    <a class="btn btn-outline-primary bigButton" href="{{ path('createJob') }}" role="button">Ajouter une offre d'emploi</a>

    <table class="table table-hover" id="listjob">
         <caption>Tableau des offres d'emploi</caption>
        <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Contact</th>
                <th scope="col">Logo</th>
                <th scope="col">Validité</th>
                <th scope="col">Date de création</th>
                <th scope="col">Details</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr class="table-secondary">
                <td>{{job.title }}</td>
                <td>{{job.contact}}</td>
                <td><img class="logo" src="{{ asset('/uploads/logo/' ~ job.logo)  | imagine_filter('thumb')}}" alt="logo_entreprise"/></td>
                <td>{{job.validity}} mois</td>
                <td>{{job.createdAT|date('Y-m-d:h:s')}}</td>
                <td><a class="btn btn-outline-info"  href="{{path('jobDetails',{id:job.id}) }}" role="button">Details</a></td>
                <td><a class="btn btn-outline-primary" href="{{path('editJob',{id:job.id}) }}" role="button">Modifier</a></td>
                <td><a class="btn btn-outline-danger" href="{{path('deleteJob',{id:job.id}) }}" role="button">Supprimer</a></td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>

    

{% endblock %}