{% extends 'adminTemplate.html.twig' %}
{% block javascripts %}
    <script>
        $(function(){
            $('#listcontact').DataTable();

        ///rename results
        var content=$('#listcontact_length > label').html();
        content=content.replace(/show/i, 'Affiche');
        content=content.replace(/entries/, 'résulats');
        $('#listcontact_length > label').html(content);

        //rename search
        content=$('#listcontact_filter > label').html();
        content=content.replace(/search/i, 'Cherche');
        $('#listcontact_filter > label').html(content);

         //rename showing
        content=$('#listcontact_info').html();
        content=content.replace(/showing/i, 'Affiche');
        content=content.replace(/to/, 'à');
        content=content.replace(/of/, 'de');
        content=content.replace(/entries/, 'résultats');
        $('#listcontact_info').html(content);

         //rename previous
        content=$('#listcontact_previous').html();
        content=content.replace(/previous/i, 'Précédent');
        $('#listcontact_previous').html(content);

        //rename next
        content=$('#listcontact_next').html();
        content=content.replace(/next/i, 'Suivant');
        $('#listcontact_next').html(content);

        $('.btn-outline-danger').click(function(){

            return confirm("Attention la suprression du contact ne supprimera pas l'utilisateur, veuillez confirmer la suprresion !");
        })

        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link  rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock %}
{% block body %}



    <a id="dashboard" class="btn btn-outline-secondary" href="{{path('admin')}}" role="button">Dashboard</a>
    <a  class="btn btn-outline-primary bigButton" href="{{ path('contactAdd') }}">Ajouter un contact</a>
    
    <table class="table table-hover" id="listcontact">
         <caption>Tableau des contacts</caption>
        <thead>
            <tr>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">Logo</th>
                <th scope="col">Qualité</th>
                <th scope="col">Utilisateur associé</th>
                <th scope="col">Date de création</th>
                <th scope="col">Details</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
                <tr class="table-secondary">
                    <td>{{contact.name}}</td>
                    <td>{{contact.surname}}</td>
                    <td>{{contact.email}}</td>
                    <td><img class="logo" src="{{ asset('/uploads/logo/' ~ contact.logo)  | imagine_filter('thumb') }}" alt="image_logo"/></td>
                    <td>
                       
                        {% if contact.quality == "leader_economique" %}Leader économique
                        {% elseif contact.quality == "centre_formation" %}Centre de formation
                        {% elseif contact.quality == "pouvoirs_publics" %}Pouvoir public
                        {% elseif contact.quality == "association" %}Association
                        {% elseif contact.quality == "partenaire_economique" %}Partenaire économique
                        {% endif %}

                        
                    </td>
                   

                    <td> 
                        {% if contact.user %} {{contact.user.pseudo}} - {{contact.user.username}} {% endif %}
                    </td>
                    <td>{{contact.createdAt|date('Y-m-d:h:s')}}</td>
                    <td><a class="btn btn-outline-info" href="{{path('contactDetails',{id:contact.id}) }}">Details</a></td>
                    <td><a class="btn btn-outline-primary" href="{{path('contactEdit',{id:contact.id}) }}">Modifier</a></td>
                    <td>
                        <a class="btn btn-outline-danger" href="{{path('contactDelete',{id:contact.id}) }}">Supprimer</a></td> 
                </tr>
        
        {% endfor %}
        
        </tbody>
    </table>
    
{% endblock %}

