{% extends 'admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}

    {{form_start(form)}} 
        {{form_errors(form)}} 
        {{form_widget(form)}} 
        {% if action == false %}
            <p>Votre logo existe déja : </p>
            <img class="logo" src="{{ asset('/uploads/logo/' ~ contact.logo) | imagine_filter('squared_avatar')}}" alt="image_logo"/>
        {% endif %}

        {% if action == true %}
            <input type="submit" value="Ajout contact"/>
        {% else %}
            <input type="submit" value="Modifier contact"/>
        {% endif %}
    {{ form_end(form) }}

{% endblock %}

