<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Admin {% endblock %}</title>

        {% block stylesheets %}
            <link  rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% endblock %}
        
    </head>
    {# NAVBAR #}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div>
            <p class="navbar-brand">JOBTRUCK</p>
        </div>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <a href="{{ path('logout') }}" class="card-link"><i class="fas fa-sign-out-alt"></i>Déconnection</a>
        </div>
    </nav>
    {# END NAVBAR #}
        <div>
            <p>ADMIN</p>
        </div>
    

{% block body %}

    {# TITLE #}
        <h2 class="display-5">Tableau de bord</h2>
    {# END TITLE #}

    {# SECTION ACTU #}
    <section>

        {# TITLE ACTUALITY #}
        <div class="breadcrumb">
            <h4 class="breadcrumb-item active">Actualitées</h4>
        </div>

        {# EMAILS #}
        <div class="card bg-light mb-3" style="max-width: 30%;">
            <h5 class="card-header">Emails reçus</h5>
            <div class="list-group-item "></div>
        </div>

        {# NEXT EVENTS #}
        <div class="card bg-light mb-3" style="max-width: 60%;">
            <h5 class="card-header">Prochain évènement</h5>
            <div class="list-group-item "></div>
        </div>

    </section>
    {# END SECTION ACTU #}

    {# SECTION GESTION #}
    <section>
        {# TITLE GESTION #}
        <div class="breadcrumb">
            <h4 class="breadcrumb-item active">Gestion</h4>
        </div>

        {# CRUD USERS #}
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <h5 class="card-header">Utilisateurs</h5>
            <div class="card-body">
                <div class="card-text">
                    <a class="badge badge-info" href="{{ path('userAdd') }}" role="button">Ajouter</a>
                    <a class="badge badge-info" href="{# {{ path('userEdit', {id:user.id}) }} #}" role="button">Éditer</a>
                    <a class="badge badge-info" href="{# {{ path('userDelete', {id:user.id}) }} #}" role="button">Supprimer</a>
                    <a class="badge badge-info" href="{{ path('userList') }}" role="button">Liste des utilisateurs</a>
                </div>
            </div>
        </div>

        {# CRUD EVENTS #}
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <h5 class="card-header">Évènements</h5>
            <div class="card-body">
                <div class="card-text">
                    <a class="badge badge-info" href="{{ path('createEvent') }}" role="button">Ajouter</a>
                    <a class="badge badge-info" href="{# {{ path('editEvent',{id:event.id}) }} #}" role="button">Éditer</a>
                    <a class="badge badge-info" href="{# {{ path('deleteEvent', {id:event.id}) }} #}" role="button">Supprimer</a>
                    <a class="badge badge-info" href="{{ path('listEvents') }}" role="button">Liste des évènements</a>
                </div>
            </div>
        </div>

        {# CRUD USERS #}
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <h5 class="card-header">Contacts</h5>
            <div class="card-body">
                <div class="card-text">
                    <a class="badge badge-info" href="{# {{ path('userAdd') }} #}" role="button">Ajouter</a>
                    <a class="badge badge-info" href="{# {{ path('userAdd') }} #}" role="button">Éditer</a>
                    <a class="badge badge-info" href="{# {{ path('userAdd') }} #}" role="button">Supprimer</a>
                    <a class="badge badge-info" href="{# {{ path('userAdd') }} #}" role="button">Liste des contacts</a>
                </div>
            </div>
        </div>
        
        {# CRUD JOBS #}
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <h5 class="card-header">Offres d'emplois</h5>
            <div class="card-body">
                <div class="card-text">
                    <a class="badge badge-info" href="{{ path('createJob') }}" role="button">Ajouter</a>
                    <a class="badge badge-info" href="{# {{ path('editJob', {id:job.id}) }} #}" role="button">Éditer</a>
                    <a class="badge badge-info" href="{# {{ path('deleteJob', {id:job.id}) }} #}" role="button">Supprimer</a>
                    <a class="badge badge-info" href="{{ path('listJob') }}" role="button">Liste des emplois</a>
                </div>
            </div>
        </div>

        {# CRUD TEMOIGNAGES #}
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <h5 class="card-header">Témoignages</h5>
            <div class="card-body">
                <div class="card-text">
                    <a class="badge badge-info" href="#" role="button">Ajouter</a>
                    <a class="badge badge-info" href="#" role="button">Éditer</a>
                    <a class="badge badge-info" href="#" role="button">Supprimer</a>
                    <a class="badge badge-info" href="#" role="button">Liste des témoignages</a>
                </div>
            </div>
        </div>
    </section>
    {# END SECTION GESTION #}

{% endblock %}
