{% extends 'adminTemplate.html.twig' %}    

{% block body %}

    {# TITLE #}
        <h2 class="display-5">Tableau de bord</h2>
    {# END TITLE #}

    {# SECTION ACTU #}
    <section>

        {# TITLE ACTUALITY #}
        {# <div class="breadcrumb">
            <h4 class="breadcrumb-item active">Actualitées</h4>
        </div> #}

        {# EMAILS #}
        {# 
            <div class="card bg-light mb-3" style="max-width: 30%;">
                <h5 class="card-header">Emails reçus</h5>
                <div class="list-group-item "></div>
            </div>
        #}

        {# NEXT EVENTS #}
        <div class="card bg-light">
            <h5 class="card-header">Prochains événements</h5>
            <div class="list-group-item ">
            <ul>
            {% for event in events %}
                <li>
                    <p><strong>Date:  {{ event.date | date('d-m-Y H:i') }} </strong></p>
                    <p>Description: {{ event.description }}</p>
                    <a class="btn btn-primary" href="{{ path('editEvent', {id:event.id}) }}" role="button">Modifier l'événement</a>
                </li>
            {% endfor %}
            </ul>
            </div>

        </div>

    </section>
    {# END SECTION ACTU #}

    {# SECTION GESTION #}
    <section id="dashboardFirst">
        {# TITLE GESTION #}
        <div class="breadcrumb">
            <h4 class="breadcrumb-item active">Gestion</h4>
        </div>

    <div id="dashboardPanel" class="container">

        {# CRUD USERS #}
        <div class="col-xs-12 col-md-4">
            <div class="card bg-light">
                <h5 class="card-header">Utilisateurs</h5>
                <div class="card-body">
                    <div class="card-text">
                        <a class="btn btn-primary" style="margin-top:.2em" href="{{ path('userAdd') }}" role="button">Ajouter</a>
                        <a class="btn btn-info" style="margin-top:.2em" href="{{ path('userList') }}" role="button">Liste des utilisateurs</a>
                    </div>
                </div>
            </div>
        </div>

        {# CRUD EVENTS #}
        <div class="col-xs-12 col-md-4">
            <div class="card bg-light">
                <h5 class="card-header">Événements</h5>
                <div class="card-body">
                    <div class="card-text">
                        <a class="btn btn-primary" style="margin-top:.2em" href="{{ path('createEvent') }}" role="button">Ajouter</a>
                        <a class="btn btn-info" style="margin-top:.2em" href="{{ path('listEvents') }}" role="button">Liste des évènments</a>
                    </div>
                </div>
            </div>
        </div>
        {# CRUD JOBS #}
        <div class="col-xs-12 col-md-4">
            <div class="card bg-light">
                <h5 class="card-header">Offres d'emplois</h5>
                <div class="card-body">
                    <div class="card-text">
                        <a class="btn btn-primary" style="margin-top:.2em" href="{{ path('createJob') }}" role="button">Ajouter</a>
                        <a id="aJob" class="btn btn-info" style="margin-top:.2em" href="{{ path('listJob') }}" role="button">Liste des offres</a>
                    </div>
                </div>
            </div>
        </div>
        {# CRUD Contact #}
        <div class="col-xs-12 col-md-4">
            <div class="card bg-light">
                <h5 class="card-header">Contacts</h5>
                <div class="card-body">
                    <div class="card-text">
                        <a class="btn btn-primary" style="margin-top:.2em" href="{{ path('contactAdd') }}" role="button">Ajouter</a>
                        <a class="btn btn-info" style="margin-top:.2em" href="{{ path('contactList') }}" role="button">Liste des contacts</a>
                    </div>
                </div>
            </div>
        </div>
        {# CRUD TEMOIGNAGES #}
        <div class="col-xs-12 col-md-4">
            <div class="card bg-light">
                <h5 class="card-header">Témoignages</h5>
                <div class="card-body">
                    <div class="card-text">
                        <a class="btn btn-primary" style="margin-top:.2em" href="{{ path('testimonyAdd') }}" role="button">Ajouter</a>
                        <a class="btn btn-info" style="margin-top:.2em" href="{{ path('testimonyList') }}" role="button">Liste des témoignages</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    {# END SECTION GESTION #}

{% endblock %}
