{% extends 'base.html.twig' %}

{% block stylesheets %}    
    <link rel="stylesheet" type="text/css" href="{{ asset('/map/site.css') }}">
    <link rel="stylesheet" href="{{ asset('/map/js/leaflet.css') }}">
    <link rel="stylesheet" href="{{ asset('/assets/css/events.css') }}">
{% endblock %}

{% block javascripts %}    
    <script src="{{ asset('/map/js/leaflet.js') }}"></script>    
    <script src="{{ asset('/map/js/map.js') }}"></script>
    
    <script> var markers = new Array();</script>
{% endblock %}

{% set jsMap = '' %}

{% block title %}JobTruck - Événements{% endblock %}                

    {% block principal %}    
        <div id="map" style="border: 1px solid #ccc" class="mb-3"></div>

    {% endblock %}
    
    
    {% block aside %} 
        {% set cpt = 0 %}
        {% for event in events %} 
           
            {% set jsMap = jsMap ~ 'markers['~ cpt ~'] = L.marker([' ~ event.latitude ~','~ event.longitude ~']).bindPopup("<p><strong>'~ event.date|date('Y-m-d:h:s')~'</strong></p><p>'~event.address~'</p>");'~"\r" %}          
            <section id="aside">
                <div class="card bg-light mb-3 card-event" id= "card{{ cpt }}" onclick="markers[{{ cpt }}].openPopup()">
                    <div class="card-header" >Date de l'evenement {{event.date|date('Y-m-d:h:s')}}</div>
                    <div class="card-body">
                        <h5 class="card-title">Au {{event.address}} à {{event.city}}</h5>
                        <p class="card-text">
                            <ul>
                            {% for contact in event.contacts %}
                                <li>
                                    {{ contact.name}} {{ contact.surname}}                                               
                                    {% if contact.quality == "leader_economique" %}Leader économique
                                    {% elseif contact.quality == "centre_formation" %}Centre de formation
                                    {% elseif contact.quality == "pouvoirs_publics" %}Pouvoir public
                                    {% elseif contact.quality == "association" %}Association
                                    {% elseif contact.quality == "partenaire_economique" %}Partenaire économique
                                    {% endif %}
                                </li> 
                            {% endfor %}
                            </ul>
                        </p>
                    </div>
                </div>
            </section>
            {% set cpt = cpt + 1 %}
        {% endfor %}
        <script>
            $(function(){
                {{ jsMap |raw }}
                var group = L.featureGroup(markers).addTo(map);
                map.fitBounds(group.getBounds());

                function callbackClick(id) {
                    return function() {
                        $('.card-event').removeClass("highlight ");
                        $('#card'+id).toggleClass("highlight ");
                        console.log(id);
                    }
                }

                for(var id in markers)
                {
                    markers[id].on('click',callbackClick(id));
                }
               
            });
        </script>
{% endblock %}