{% extends 'adminTemplate.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}

    {% block principal %} {# LIGNE A DÉCOMMENTER QUAND ONT VEUT CREER UN ADMIN... #}
        {{ form_start(form) }}
            {{ form_row(form.username, { 'label': 'Pseudo' }) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword, { 'label': 'Mot de passe' }) }}
            {% if action == false %}
                <p>Votre avatar existe déja : </p>
                <img class="avatar" src="{{ asset('/uploads/avatar/' ~ user.avatar) | imagine_filter('squared_avatar')}}" alt="image_user"/>
            {% endif %}

            {{ form_row(form.avatar, {'attr': {'placeholder': 'Choisissez l\'avatar...'}}) }}  

            {{ form_row(form.roles) }}      

            {{ form_row(form.contact) }}         

        {% if action == true %}
           <input type="submit" class="btn btn-outline-info" value="Ajouter l'utilisateur"/>
        {% else %}
            <input type="submit" class="btn btn-outline-info" value="Modifier l'utilisateur"/>
        {% endif %}

        <a id="dashboard" class="btn btn-outline-secondary" href="{{path('admin')}}" role="button">Dashboard</a>

        {{ form_end(form) }}
    {% endblock %}  {# LIGNE A DÉCOMMENTER QUAND ONT VEUT CREER UN ADMIN... #}

{% endblock %}

