{% extends 'base.html.twig' %}

{% block body %}

    <h1>Details utilisateur</h1>
    <p>Pseudo: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <p>Avatar: <img class="avatar" src="{{ asset('uploads/avatar/' ~ user.avatar)  | imagine_filter('squared_avatar')}}" alt="image_user"/></p>
    {# <p>roles: {{user.roles}}</p> #}
    <p>Date de création: {{user.createdAt|date('Y-m-d:h:s')}}</p>
    {% if user.dateLastLogin %}}
        <p>Date dernière visite: {{user.dateLastLogin|date('Y-m-d:h:s')}}</p>
    {% endif %}

{% endblock %}
