{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}

    {{ form_start(form) }}
        {{ form_row(form.username, { 'label': 'Pseudo' }) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        {% if user.avatar is not empty %}
            <p>Votre avatar existe déja : </p>
            <img class="avatar" src="{{ asset('uploads/avatar/' ~ user.avatar) | imagine_filter('squared_avatar')}}" alt="image_user"/>
        {% endif %}

        {{ form_row(form.avatar) }}  

        {{ form_row(form.roles) }}      

        {% if action == true %}
            <input type="submit" value="Ajout utilisateur"/>
        {% else %}
            <input type="submit" value="Modifier utilisateur"/>
        {% endif %}
         
        {{ form_end(form) }}

{% endblock %}

