{% extends 'adminBase.html.twig' %}

{% block title %} Admin - Évènements {% endblock %}

{% block body %}

    <h2 class="card-title">Tous les évènements</h2>

    {% for event in events %}

    <div class="card mb-3">
        <div class="card-header">
            <h4 class="card-title">Évènement du {{ event.date | date('d/m/Y') }}</h4>
        </div>
        <div class="card-body">
            <div class="card-text">
                <p>Adresse de l'évènement : </p>
                <p>{{ event.address }}</p>
                <p>{{ event.complement1 }}</p>
                <p>{{ event.complement2 }}</p>
                <p>{{ event.postalCode }}</p>
                <p>{{ event.city }}</p>
            </div>
            <div class="card-text">
                <p>À {{ event.date | date('H:i') }} </p>
                <p>Description : </p>
                <p>{{ event.description }}</p>
            </div>
        </div>
        <div class="card-footer">
            <a href="{{ path('showEvent',{id:event.id}) }}" class="card-link">Détails</a>
        </div>
    </div>
    {% endfor %}
    <a  class="btn btn-outline-primary bigButton" href="{{ path('createEvent') }}">Ajouter un évènement</a>

    <a id="dashboard" class="btn btn-outline-secondary" href="{{path('admin')}}" role="button">Dashboard</a>
{% endblock %}