{% extends 'adminTemplate.html.twig' %}

{% block title %}  {% endblock %}

{% block body %}

    <a id="dashboard" class="btn btn-outline-secondary" href="{{path('admin')}}" role="button">Dashboard</a>

    <article>
        <div class="card mb-3">
            <div class="card-header">
                <h2 class="card-title">Details Événement du {{ event.date | date('d/m/Y') }}</h2>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <p>Date et Heure de l'événement : </p>
                    <p><strong>{{event.date | date('Y-m-d')}}</strong> à <strong>{{ event.date | date('H:i') }}</strong></p>
                </div>
                <div class="card-text">
                    <p>Adresse de l'événement : </p>
                    <p>{{ event.address }}, {{ event.complement1 }} {{ event.complement2 }}</p>
                    <p>{{ event.postalCode }} {{ event.city }}</p>
                </div>
                <div class="card-text">
                    <p>Description : </p>
                    <p>{{ event.description }}</p>
                </div>
                <div class="card-text">
                    <p>Coordonnées : </p>
                    <p>Longitude : {{ event.longitude }}</p>
                    <p>Latitude : {{ event.latitude }}</p>
                </div>
                 <div class="card-text">
                    <p>Particpants : </p>
                    <ul>
                        {% for contact in event.contacts %}
                            <li>{{ contact.email }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="list-group-item">
                    <a class="btn btn-outline-primary" href="{{ path('editEvent',{id:event.id}) }}">Éditer</a>
                    <a class="btn btn-outline-danger" href="{{ path('deleteEvent',{id:event.id}) }}">Supprimer</a>
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-outline-secondary" href="{{ path('listEvents') }}">Retour</a>
            </div>
        </div>
    <article>

{% endblock %}